ul li {
  list-style: none;
  padding: 6px;
  border-bottom: 0.5px solid rgb(66, 64, 64);
  font-size: 17px;
  cursor: pointer;
}
ul li:hover {
  color: rgb(82, 80, 80);
}
.link {
  text-decoration: none;
  color: black;
}
